<a href="https://colab.research.google.com/github/VillaminCharles/DSA-58010/blob/main/Array_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accessing the Elements in the Array

In [ ]:
animals = ['cat','dog','fish']
x = animals[0]
print(x)

cat

In [ ]:
#Create an array of number elements pertaining to animals
animals = ['cat','dog','fish']
for x in animals:
  print(x)

cat
dog
fish

In [ ]:
#Create an array of number elements 

num =[1,2,3]

print(num)

[1, 2, 3]

In [ ]:
import numpy as np 
number = np.array([[1,2],[3,4]])  #2x2 matrix
print(number)

[[1 2]
 [3 4]]

Modifying the Elements in the Array

In [34]:
#Modifying Array Elements
animals = ["dog","cat","fish"]
animals[2] = "monkey"
print(animals)

['dog', 'cat', 'monkey']

Adding Elements in the Array

In [ ]:
#inserting array elements
animals = ['cat','dog','fish']
animals.append('monkey')
print(animals)

['cat', 'dog', 'fish', 'monkey']

Removing an Element in the Array

In [ ]:
#Removing Array Elements
animals = ['cat','dog','fish']
animals.pop(1)
animals.pop(0)
print(animals)

['fish']

Looping array Elements

In [32]:
animals = ['dog','cat','fish']
for x in animals:
  print(x)
  if x=='cat':
    break

dog
cat

Length of an Array

In [33]:
animals = ["cat", "dog", "fish"]
for x in animals:
  x = len(animals)
  print (x)

3
3
3